<p id="notice"><%= notice %></p>

<h1>Listing Coordenadas</h1>

<table>
  <thead>
    <tr>
      <th>Ot</th>
      <th>Lat</th>
      <th>Lon</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @coordenadas.each do |coordenada| %>
      <tr>
        <td><%= coordenada.ot %></td>
        <td><%= coordenada.lat %></td>
        <td><%= coordenada.lon %></td>
        <td><%= link_to 'Show', coordenada %></td>
        <td><%= link_to 'Edit', edit_coordenada_path(coordenada) %></td>
        <td><%= link_to 'Destroy', coordenada, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Coordenada', new_coordenada_path %>
